@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  MAX-width: 100%;
  height: auto;
}

input {
  border: none;
  outline: none;
}

body .central-wrapper {
  background-image: url(../img/bg01.png);
}

main h3, main h2, main p, header .horni-lista h2, header .horni-lista a, header .mobile ul li a {
  font-weight: 300;
}

header .horni-lista a {
  border-radius: 5px;
}

header .horni-lista h1 {
  font-weight: 600;
}

main p, main .content li input, main .others-list li {
  border-radius: 5px;
}

main .others-list, main .others-list li, body .central-wrapper {
  margin: 0 auto;
}

main h2, header .horni-lista h1, header .horni-lista a {
  color: #ffffff;
}

header .horni-lista h2 {
  color: #6ed7fe;
}

main p {
  color: #aeaeae;
}

:root {
  --h1-fs: 2.5rem;
  --h2-main-fs:12rem;
  --h2-fs: 1.3rem;
  --h3-fs: 3.2rem;
  --a-fs: 1.3rem;
  --specialSmall-fs: 1rem;
  --mobilni-fs:1.5rem;
}

/* border-box */
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* --- vyber --- */
::-moz-selection {
  background-color: #1683ff;
  color: #ffffff;
}

::selection {
  background-color: #1683ff;
  color: #ffffff;
}

.flex {
  display: flex;
}

body {
  background-color: #6ed7fe;
  background-image: url(../img/bg04.png);
  font-family: "Source Sans Pro", sans-serif;
}
body .central-wrapper {
  position: relative;
  width: clamp(15.625rem, 95%, 90rem);
  max-height: 100%;
  min-height: 100.1vh;
  background-color: #272727;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.922);
}
body .central-wrapper::after, body .central-wrapper::before {
  content: "";
  position: absolute;
  width: 32px;
  top: 0rem;
  bottom: 0rem;
  z-index: -10;
}
body .central-wrapper::after {
  right: 0rem;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.809);
}
body .central-wrapper::before {
  left: 0rem;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.803);
}

header {
  position: relative;
}

header .horni-lista {
  text-align: center;
  align-items: baseline;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2862745098);
}
header .horni-lista h1 {
  font-size: var(--h1-fs);
  letter-spacing: 2px;
}
header .horni-lista h2 {
  font-size: var(--h2-fs);
  letter-spacing: 1px;
  line-height: 17px;
}
header .horni-lista a {
  position: relative;
  font-size: var(--a-fs);
  margin: 0 0.5em;
  padding: 0.2em 0.5em;
  transition: background-color ease-in-out 0.25s;
}
header .horni-lista a::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 60px;
  right: 60px;
  height: 1px;
  background-color: #6ed7fe;
  transition: all ease-in-out 0.25s;
}
header .horni-lista a:hover, header .horni-lista a:focus {
  background-color: #2f2f2f;
  outline: none;
}
header .horni-lista a:hover::after, header .horni-lista a:focus::after {
  height: 1px;
  left: 0px;
  right: 0px;
  background-color: #6ed7fe;
}
header .horni-lista .selected {
  color: #6ed7fe;
}
header .horni-lista .selected::after {
  height: 1px;
  left: 0px;
  right: 0px;
  background-color: #6ed7fe;
}

header .hamburger {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
  background-image: url(../img/open.png);
  opacity: 0.9;
  filter: drop-shadow(1px 1px 1px #6ed7fe);
}
header .hamburger:hover, header .hamburger:active {
  filter: drop-shadow(1px 1px 1px #ffffff);
}

header .mobile {
  display: none;
}
header .mobile ul {
  margin-top: 5px;
  display: block;
  background-color: #272727;
  background-image: url(../img/bg01.png);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.277);
  text-align: center;
}
header .mobile ul li {
  display: inline-block;
  padding: 1em 1vw;
}
header .mobile ul li a {
  font-size: var(--mobilni-fs);
  color: #fff;
}
header .mobile ul li a:hover, header .mobile ul li a:active {
  color: orange;
}
header .mobile .mobile-selected {
  color: orange;
}

main {
  padding-bottom: 3em;
}
main h3 {
  font-size: var(--h3-fs);
  color: #aeaeae;
  text-align: center;
  margin: 1em 0 1em 0;
  background-color: #272727;
  padding: 0 1em;
  text-align: center;
}
main h2 {
  font-size: var(--h2-fs);
  padding: 0 1em 0.2em 1em;
}
main p {
  position: relative;
  font-size: var(--a-fs);
  opacity: 0.7;
  height: 4.5em;
  overflow: hidden;
  padding: 1em;
  transition: all ease-in-out 0.25s;
  animation: down 1s forwards;
}
main p:after {
  position: absolute;
  content: "";
  z-index: 100;
  top: 73px;
  left: 0;
  width: 100%;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0.3450980392)), to(#272727));
  background: -o-linear-gradient(top, rgba(39, 39, 39, 0.3450980392) 0%, #272727 100%);
  background: linear-gradient(180deg, rgba(39, 39, 39, 0.3450980392) 0%, #272727 100%);
}
main p strong {
  font-weight: 600;
  color: rgb(197, 197, 197);
}
main .content {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  align-items: flex-start;
  padding: 0 1vw;
}
main .content li {
  max-width: 38%;
  flex-grow: 1;
  position: relative;
  padding: 1em 1em;
  text-align: left;
}
main .content li::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 20px;
  height: 1px;
  width: 60%;
  background-color: rgba(81, 81, 81, 0.7803921569);
}
main .content li input {
  position: absolute;
  z-index: 200;
  bottom: -10px;
  right: 30px;
  padding: 0.7em 2.2em;
  background-color: #6ed7fe;
  appearance: none;
  background-image: url(../img/bg04.png);
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
main .content li input:checked {
  background-color: orange;
}
main .content li input:checked::after {
  content: "close";
  right: 28%;
}
main .content li input:checked ~ p {
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.52);
}
main .content li input:checked ~ p::after {
  height: 0;
}
main .content li input:checked + h2 {
  color: #6ed7fe;
}
main .content li input::after {
  position: absolute;
  content: "expand";
  top: 2px;
  right: 15%;
}
main .others {
  margin: 1em 0 0.5em 0;
}
main .others-list {
  text-align: left;
  width: 100%;
}
main .others-list h2 {
  margin-top: 1em;
}
main .others-list p {
  height: 100%;
}
main .others-list p::after {
  height: 0;
}
main .others-list li {
  width: 70%;
  padding: 0 1em;
}

@-webkit-keyframes down {
  100% {
    height: 4.5em;
  }
}
@keyframes down {
  100% {
    height: 4.5em;
  }
}
@media only screen and (max-width: 1000px) {
  body main .content {
    gap: 0;
  }
  body main .content li {
    max-width: 48%;
  }
}
@media only screen and (max-width: 850px) {
  :root {
    --h1-fs: 2rem;
    --h2-main-fs:10rem;
    --h2-fs: 1.1rem;
    --h3-fs: 2.7rem;
    --a-fs: 1.1rem;
    --specialSmall-fs: 1rem;
  }
  body main p::after {
    top: 59px;
  }
  body main .content li {
    max-width: 80%;
    gap: 1em;
  }
  body main .content li::after {
    width: 50%;
  }
  body main .others-list li {
    width: 80%;
  }
}
@media only screen and (max-width: 750px) {
  :root {
    --h1-fs: 2rem;
    --h2-main-fs:8rem;
    --h2-fs: 1.1rem;
    --h3-fs: 2.1rem;
    --a-fs: 1.1rem;
    --specialSmall-fs: 1rem;
  }
  body {
    padding: 1vh 0vw;
  }
  body .central-wrapper {
    max-height: 100%;
    min-height: 98vh;
    border-radius: 25px;
  }
  body .central-wrapper .horni-lista .horni-lista__right,
  body .central-wrapper .horni-lista .horni-lista__left {
    display: none;
  }
  body .central-wrapper::after, body .central-wrapper::before {
    bottom: 20px;
    top: 20px;
  }
  body .central-wrapper::after {
    right: 0rem;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.895);
  }
  body .central-wrapper::before {
    left: 0rem;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.889);
  }
  body header .hamburger {
    display: inline-block;
  }
  body main .content li {
    max-width: 90%;
  }
  body main .content li::after {
    width: 65%;
  }
  body main .others-list li {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --h1-fs: 1.5rem;
    --h2-main-fs:5.6rem;
    --h2-fs: 0.9rem;
    --h3-fs: 1.45rem;
    --a-fs: 1.1rem;
    --specialSmall-fs: 1rem;
  }
  body main .content li {
    flex-basis: 90%;
  }
  body main .content li::after {
    width: 60%;
  }
}

/*# sourceMappingURL=about.css.map */
