@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap");
:root {
  --h1-fs: 2.5rem;
  --h2-main-fs:12rem;
  --h2-fs: 1.3rem;
  --h3-fs: 3.2rem;
  --a-fs: 1.3rem;
  --specialSmall-fs: 1rem;
  --mobilni-fs:1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  MAX-width: 100%;
  height: auto;
}

input {
  border: none;
  outline: none;
}

header nav, header .mobile {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header nav, header .horni-lista a, body .central-wrapper {
  position: relative;
}

header .horni-lista a::after, header .hamburger, header .mobile, body .central-wrapper::after, body .central-wrapper::before {
  position: absolute;
}

main .hero h3, main .hero .cv-section, header .horni-lista h2, header .horni-lista a, header .mobile ul li a {
  font-weight: 300;
}

main .hero .hero-heading, main .hero .cv-section, header .horni-lista h1 {
  font-weight: 600;
}

main .hero .cv-section, header .horni-lista a {
  border-radius: 5px;
}

main .hero, body .central-wrapper {
  margin-inline: auto;
}

main .hero, header .horni-lista, header .mobile ul {
  text-align: center;
}

main .hero, main .hero .cv-section:active, header .horni-lista h1, header .horni-lista a {
  color: #ffffff;
}

header .horni-lista h2, header .horni-lista .selected {
  color: #6ed7fe;
}

main .hero .cv-section, header .horni-lista a::after, header .horni-lista .selected::after, body {
  background-color: #6ed7fe;
}

main .hero .cv-section {
  color: #2f2f2f;
}

header .horni-lista a:hover, header .horni-lista a:focus {
  background-color: #2f2f2f;
}

header nav {
  background-color: #242526;
}

header .mobile, body .central-wrapper {
  background-color: #272727;
}

/* border-box */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-image: url(../img/bg04.png);
  font-family: "Source Sans Pro", sans-serif;
}
body ::-moz-selection {
  background-color: #1683ff;
  color: #ffffff;
}
body ::selection {
  background-color: #1683ff;
  color: #ffffff;
}
body .central-wrapper {
  outline: 2px solid #6ed7fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: clamp(15.625rem, 95%, 90rem);
  max-height: 100%;
  min-height: 100.1vh;
  background-image: url(../img/bg01.png);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9215686275);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9215686275);
}
body .central-wrapper::after, body .central-wrapper::before {
  content: "";
  width: 32px;
  top: 0rem;
  bottom: 0rem;
  z-index: -10;
}
body .central-wrapper::after {
  right: 0rem;
  -webkit-box-shadow: 2px 0 10px rgba(0, 0, 0, 0.809);
          box-shadow: 2px 0 10px rgba(0, 0, 0, 0.809);
}
body .central-wrapper::before {
  left: 0rem;
  -webkit-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.803);
          box-shadow: -2px 0 10px rgba(0, 0, 0, 0.803);
}

header {
  position: relative;
  isolation: isolate;
}
header nav {
  z-index: 100;
  border-top-right-radius: 3.125rem;
  border-top-left-radius: 3.125rem;
}

header .horni-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2862745098);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2862745098);
}
header .horni-lista h1 {
  font-size: var(--h1-fs);
  letter-spacing: 2px;
}
header .horni-lista h2 {
  font-size: var(--h2-fs);
  letter-spacing: 1px;
  line-height: 17px;
}
header .horni-lista a {
  font-size: var(--a-fs);
  margin: 0 0.5em;
  padding: 0.2em 0.5em;
  -webkit-transition: background-color ease-in-out 0.25s;
  transition: background-color ease-in-out 0.25s;
}
header .horni-lista a::after {
  content: "";
  top: 40px;
  left: 60px;
  right: 60px;
  height: 1px;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}
header .horni-lista a:hover, header .horni-lista a:focus {
  outline: none;
}
header .horni-lista a:hover::after, header .horni-lista a:focus::after {
  height: 1px;
  left: 0px;
  right: 0px;
  background-color: #6ed7fe;
}
header .horni-lista .selected::after {
  height: 1px;
  left: 0px;
  right: 0px;
}

header .hamburger {
  display: none;
  z-index: 999;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 15px;
  background-image: url(../img/open.png);
  opacity: 0.9;
  -webkit-filter: drop-shadow(1px 1px 1px #6ed7fe);
          filter: drop-shadow(1px 1px 1px #6ed7fe);
}
header .hamburger:hover, header .hamburger:active {
  -webkit-filter: drop-shadow(1px 1px 1px #ffffff);
          filter: drop-shadow(1px 1px 1px #ffffff);
}
header .hamburger:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

header .down {
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

header .mobile {
  display: none;
  width: 100%;
  top: 17px;
  z-index: 10;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  border-top-right-radius: 3.125rem;
  border-top-left-radius: 3.125rem;
}
header .mobile ul {
  display: block;
  background-image: url(../img/bg01.png);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.277);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.277);
}
header .mobile ul li {
  display: inline-block;
  padding: 1em 1vw;
}
header .mobile ul li a {
  font-size: var(--mobilni-fs);
  color: #fff;
}
header .mobile ul li a:hover, header .mobile ul li a:active {
  color: orange;
}
header .mobile .mobile-selected {
  color: orange;
}

main {
  margin: auto;
}

main .hero {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
main .hero .hero-heading {
  font-size: var(--h2-main-fs);
  letter-spacing: -4px;
  line-height: 0.8em;
}
main .hero h3 {
  font-size: var(--h3-fs);
  letter-spacing: 0px;
  margin-bottom: 0.2em;
}
main .hero .cv-section {
  margin-left: auto;
  text-decoration: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--a-fs);
  margin-top: 2em;
  padding: 0.4em 0.8em;
  background-image: url(../img/bg04.png);
  -webkit-transition: background-color ease-in-out 0.25s;
  transition: background-color ease-in-out 0.25s;
}
main .hero .cv-section:hover {
  background-color: orange;
}
main .hero .cv-section:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media only screen and (max-width: 850px) {
  :root {
    --h1-fs: 2rem;
    --h2-main-fs:10rem;
    --h2-fs: 1.1rem;
    --h3-fs: 2.7rem;
    --a-fs: 1.1rem;
    --specialSmall-fs: 1rem;
    --mobilni-fs:1.5rem;
  }
}
@media only screen and (max-width: 750px) {
  :root {
    --h1-fs: 2rem;
    --h2-main-fs:8rem;
    --h2-fs: 1.1rem;
    --h3-fs: 2.1rem;
    --a-fs: 1.1rem;
    --specialSmall-fs: 1rem;
    --mobilni-fs:1.5rem;
  }
  body {
    padding: 1vh 0vw;
  }
  body .central-wrapper {
    max-height: 100%;
    min-height: 98vh;
    border-radius: 25px;
  }
  body .central-wrapper .horni-lista .horni-lista__right,
  body .central-wrapper .horni-lista .horni-lista__left {
    display: none;
  }
  body .central-wrapper::after, body .central-wrapper::before {
    bottom: 20px;
    top: 20px;
  }
  body .central-wrapper::after {
    right: 0rem;
    -webkit-box-shadow: 10px 0 20px rgba(0, 0, 0, 0.8941176471);
            box-shadow: 10px 0 20px rgba(0, 0, 0, 0.8941176471);
  }
  body .central-wrapper::before {
    left: 0rem;
    -webkit-box-shadow: -10px 0 20px rgba(0, 0, 0, 0.8901960784);
            box-shadow: -10px 0 20px rgba(0, 0, 0, 0.8901960784);
  }
  header .hamburger {
    display: inline-block;
  }
  header .mobile {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --h1-fs: 1.5rem;
    --h2-main-fs:5.6rem;
    --h2-fs: 0.9rem;
    --h3-fs: 1.45rem;
    --a-fs: 1.1rem;
    --specialSmall-fs: 1rem;
    --mobilni-fs:1.5rem;
  }
  body main .hero h3 {
    margin-bottom: 0rem;
  }
}
@media only screen and (max-width: 22rem) {
  :root {
    --mobilni-fs:1.1rem;
  }
}
/*# sourceMappingURL=home.css.map */
