@use '../var' as *;
@use '../mix' as *;


// --- defaultni mixina ---
// @include mQdefault(hodnota v pixlech) {}


// max-width: 850px
@include mQmid {}

// max-width: 750px
@include mQmin {

    main .kontakts {
        flex-direction: column;
    }

    main .srovnej {
        max-width: 330px;
        min-width: 230px;
        border-top: 1px solid $clr17;
        margin-top: 1rem;
        padding-top: 2rem;

        &:last-child {
            border-top: none;
            margin-top: 0rem;
            padding-top: 0rem;
        }
    }

    main .form {
        form {
            width: 70%;
        }

        input {
            &:nth-child(1) {
                float: none;
                display: block;
                width: 100%;
                margin-bottom: 0;
            }

            &:nth-child(2) {
                width: 100%;
                float: none;
                display: block;
            }
        }
    }


}

// max-width: 500px
@include mQmni {


    body {

        main .srovnej {
            i {
                font-size: 1.3rem;
                padding: 0 1em 0 0;
            }
        }

        main .form {
            form {
                width: 80%;
            }
        }

    }
}

@include mQdefault(22rem) {
    :root {
        --mobilni-fs:#{$mobilni-font-min};
    }
}