@use '../var' as *;
@use '../mix' as *;
@use '../placeholders';



.selected {
    @extend %clr1;
    @extend %clr4-back;
    @extend %weight-700;
}

header .dropdown {
    position: relative;
    z-index: 1;
    text-align: left;
    transition: opacity ease-in-out .25s;

    .click {
        cursor: pointer;

        &:hover+.wrapper,
        &:focus+.wrapper {

            pointer-events: auto;

            .dropdown-menu {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    .wrapper {
        padding-top: 1rem;
        position: absolute;
        top: 2.2rem;
        left: 0rem;
        z-index: 10;
        width: 120%;
        pointer-events: none;

        &:hover,
        &:focus {

            pointer-events: auto;

            .dropdown-menu {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    .dropdown-menu {

        flex-direction: column;
        gap: .5rem;

        background-color: rgba(37, 33, 34, 0.98);
        padding: 1rem 0;
        @extend %border-radius;
        box-shadow: 5px 5px 10px rgb(0, 0, 0);

        transition: opacity ease-in-out .25s;
        pointer-events: none;
        opacity: 0;

        &::after {
            content: "";
            position: absolute;
            top: .5rem;
            left: 3.2rem;
            border-bottom: .5rem solid $clr3;
            border-left: .5rem solid transparent;
            border-right: .5rem solid transparent;
        }

        li {
            a {
                transition: color ease-in-out .25s;
                color: $clr7;
                padding: 1px 0px 1px 22px;

                &:hover,
                &:focus {

                    @extend %clr1;
                    @extend %clr3-back;
                }
            }
        }
    }
}

header {
    text-align: center;
    padding-top: 6.2rem;
    margin-bottom: 4.8rem;

    h1 {
        @extend %clr3;
        font-size: $fs1max;
        font-weight: 900;
        letter-spacing: -1.633px;
        margin-bottom: 3.5rem;
    }


    ul {
        display: flex;
        justify-content: center;

        gap: 1rem;

    }

    a {
        @extend %clr5;
        font-size: $fs6max;
        font-style: italic;
        @extend %weight-300;
        @extend %transition;
        @extend %border-radius;

        padding: 11px 22px;

        &:hover:not(.selected),
        &:focus:not(.selected) {
            background-color: lighten($clr5, 60%);
        }
    }
}