// ---------------------
// Variables
// ---------------------

$debug: false;

// --- colors ---

$clr1: #ffffff;
$clr2: #cce8f4;
$clr3: #252122;
$clr4: #d52349;
$clr5: #5d5d5d;
$clr6: #827a7c;
$clr7: #858484;


// --- font-sizes ---

$fs1max: 2.916rem; //H1 max46.67px
$fs1mid: 2.237rem; //H1 mid35.8px
$fs1min: 1.604rem; //H1 min25.67px

$fs2max: 2.037rem; //H2 max32.60px
$fs2mid: 1.590rem; //H2 mid25.44px
$fs2min: 1.145rem; //H2 min18.33px

$fs3max: 1.750rem; //H3  max28.00px
$fs3mid: 1.425rem; //H3  mid22.8px
$fs3min: 1.100rem; //H3  min17.60px

$fs4max: 1.575rem; //H4  max25.20px
$fs4mid: 1.359rem; //h4  mid21.74px
$fs4min: 1.145rem; //H4  min18.33px

$fs5max: 1.283rem; //H5  max20.53px
$fs5mid: .9688rem; //H5  mid15.50px
$fs5min: .6550rem; //H5  min10.48px

$fs6max: 1.163rem; //H6  max18.60px
$fs6mid: 1.037rem; //H6  mid16.59px
$fs6min: .9163rem; //H6  min14.66px

