@use 'var' as *;
@use 'mix' as *;

header {
    position: relative;
    isolation: isolate;

    nav {
        @extend %positionRelative;
        z-index: 100;
        @extend %backClr13;
        border-top-right-radius: 3.125rem;
        border-top-left-radius: 3.125rem;
        @extend %userSelection;
    }
}

header .horni-lista {
    @extend %textCenter;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0px 1px 2px #00000049;

    h1 {
        @include H1-Normal;
        @extend %clr10;
        letter-spacing: 2px;
    }

    h2 {
        @include H2-Normal;
        @extend %clr11;
        letter-spacing: 1px;
        line-height: 17px;
    }

    a {
        @extend %positionRelative;
        @include links;
        @extend %clr10;

        margin: 0 .5em;
        padding: .2em .5em;

        @extend %borderRadius;
        transition: background-color ease-in-out .25s;

        &::after {
            content: "";
            @extend %positionAbsolute;
            top: 40px;
            left: 60px;
            right: 60px;
            height: 1px;
            @extend %backClr11;
            transition: all ease-in-out .25s;
        }

        &:hover,
        &:focus {
            @extend %backClr12;
            outline: none;

            &::after {
                height: 1px;
                left: 0px;
                right: 0px;
                background-color: $clr11;
            }
        }
    }

    .selected {
        @extend %clr11;

        &::after {
            height: 1px;
            left: 0px;
            right: 0px;
            @extend %backClr11;
        }
    }
}

// --- mobilni menu ---
header .hamburger {
    display: none;
    @extend %positionAbsolute;
    z-index: 999;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 15px;
    background-image: url(../img/open.png);
    opacity: .9;
    filter: drop-shadow(1px 1px 1px $clr11);
    
    &:hover,
    &:active {
        filter: drop-shadow(1px 1px 1px $clr10);
    }
    
    &:active {
        transform: scale(.95);
    }
}

header .down {
    transform: translateY(70px);
}

header .mobile {
    @extend %userSelection;
    display: none;
    @extend %backClr14;
    @extend %positionAbsolute;
    width: 100%;
    top: 17px;
    z-index: 10;
    transition: transform ease-in-out .2s;
    border-top-right-radius: 3.125rem;
    border-top-left-radius: 3.125rem;

    ul {
        display: block;
        background-image: url(../img/bg01.png);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.277);
        @extend %textCenter;

        li {
            display: inline-block;
            padding: 1em 1vw;

            a {
                @include mobilniFont;
                color: #fff;

                &:hover,
                &:active {
                    color: orange;
                }
            }
        }
    }

    .mobile-selected {
        color: orange;
    }
}