@use 'var' as *;
@use 'mix' as *;


header {

    position: absolute;
    right: 0;
    left: 0;
    @extend %userSelection;
    z-index: 500;
}

header .horni-lista {
    background: linear-gradient(-45deg,
            rgb(0, 45, 87) 0%,
            $clr14 100%);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;

    @extend %textCenter;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0px 1px 2px #00000049;

    &>*{
        flex-basis: 100%;
    }

    h1 {
        @include H1-Normal;
        @extend %clr10;
        letter-spacing: 2px;
    }

    h2 {
        @include H2-Normal;
        @extend %clr11;
        letter-spacing: 1px;
        line-height: 17px;
    }

    a {
        @extend %positionRelative;
        @include links;
        @extend %clr10;
        display: inline-block;

        margin: 0 .5em;
        padding: .2em .5em;

        @extend %borderRadius;
        transition: background-color ease-in-out .25s, transform ease-in-out .25s;

        &::after {
            content: "";
            @extend %positionAbsolute;
            top: 40px;
            left: 60px;
            right: 60px;
            height: 1px;
            @extend %backClr11;
            transition: all ease-in-out .25s;
        }

        &:hover,
        &:focus {

            &::after {
                height: 1px;
                left: 0px;
                right: 0px;
                background-color: $clr11;
            }
        }
    }

    .selected {
        @extend %clr11;

        &::after {
            height: 1px;
            left: 0px;
            right: 0px;
            @extend %backClr11;
        }
    }
}

// --- mobilni menu ---
header .hamburger {
    display: none;
    @extend %positionAbsolute;
    z-index: 20;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 15px;
    background-image: url(../img/open.png);
    opacity: .9;
    filter: drop-shadow(1px 1px 1px $clr11);

    &:hover,
    &:active {
        filter: drop-shadow(1px 1px 1px $clr10);
    }

    &:active {
        transform: scale(.95);
    }
}

header .down {
    transform: translateY(60px);
}

header .mobile {
    display: none;
    @extend %positionAbsolute;
    @extend %backClr14;
    left: 0;
    right: 0;
    top: 25px;
    transition: transform ease-in-out .2s;
    @extend %userSelection;

    ul {
        display: block;
        background-image: url(../img/bg01.png);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.277);
        @extend %textCenter;

        li {
            display: inline-block;
            padding: 1em 1vw;

            a {
                @include mobilniFont;
                color: #fff;

                &:hover,
                &:active {
                    color: orange;
                }
            }
        }
    }

    .mobile-selected {
        color: orange;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}