@use 'var' as *;
// ---------------------
// Mixins
// ---------------------

// vlastnost vyberu
@mixin selection {
    ::selection {
        background-color: #1683ff;
        color: #ffffff;
    }
}

// $value= border-box, content-box, inherit
@mixin box-sizing ($value) {
    box-sizing: $value;
}

@mixin H1-Normal {
    @extend %weight-600;
    font-size: var(--h1-fs);
}

@mixin H2-Normal {
    @extend %weight-300;
    font-size: var(--h2-fs);
}

@mixin H3-normal {
    @extend %weight-300;
    font-size: var(--h3-fs);
}

@mixin links {
    @extend %weight-300;
    font-size: var(--a-fs);
}

@mixin specialSmall {
    @extend %weight-300;
    font-size: var(--specialSmall-fs);
}

@mixin mobilniFont {
    @extend %weight-300;
    font-size: var(--mobilni-fs);
}

// --- placeholders ---

%userSelection {
    user-select: none;
}

%positionRelative {
    position: relative;
}

%positionAbsolute {
    position: absolute;
}

%weight-300 {
    font-weight: 300;
}

%weight-600 {
    font-weight: 600;
}

%borderRadius {
    border-radius: 5px;
}

%autoMargin {
    margin-inline: auto;
}

%textCenter {
    text-align: center;
}

%clr10 {
    color: $clr10;
}

%backClr10 {
    background-color: $clr10;
}

%clr11 {
    color: $clr11;
}

%backClr11 {
    background-color: $clr11;
}

%clr12 {
    color: $clr12;
}

%backClr12 {
    background-color: $clr12;
}

%clr13 {
    color: $clr13;
}

%backClr13 {
    background-color: $clr13;
}

%clr14 {
    color: $clr14;
}

%backClr14 {
    background-color: $clr14;
}


%clr15 {
    color: $clr15;
}

%clr16 {
    color: $clr16;
}

%clr17 {
    color: $clr17;
}

%clr20 {
    color: $clr20;
}

// --- mediaQueryies ---
@mixin mQmax {
    @media only screen and (max-width:$mQmax) {
        @content;
    }
}

@mixin mQmid {
    @media only screen and (max-width:$mQmid) {

        :root {
            --h1-fs: #{$h1-mid};
            --h2-main-fs:#{$h2-main-mid};
            --h2-fs: #{$h2-mid};
            --h3-fs: #{$h3-mid};
            --a-fs: #{$a-mid};
            --specialSmall-fs: #{$specialSmall-mid};
            --mobilni-fs:#{$mobilni-font-max};
        }

        @content;
    }
}

@mixin mQmin {
    @media only screen and (max-width:$mQmin) {
        :root {
            --h1-fs: #{$h1-min};
            --h2-main-fs:#{$h2-main-min};
            --h2-fs: #{$h2-min};
            --h3-fs: #{$h3-min};
            --a-fs: #{$a-min};
            --specialSmall-fs: #{$specialSmall-min};
            --mobilni-fs:#{$mobilni-font-max};
        }

        body {
            padding: 1vh 0vw;

            .central-wrapper {
                max-height: 100%;
                min-height: 98vh;
                border-radius: 25px;

                .horni-lista .horni-lista__right,
                .horni-lista .horni-lista__left {
                    display: none;
                }

                &::after,
                &::before {
                    bottom: 20px;
                    top: 20px;
                }

                &::after {
                    right: 0rem;
                    box-shadow: 10px 0 20px #000000e4;
                }

                &::before {
                    left: 0rem;
                    box-shadow: -10px 0 20px #000000e3;
                }
            }
        }

        header {

            .hamburger {
                display: inline-block;

            }

            .mobile {
                display: block;
            }
        }

        @content;
    }
}

@mixin mQmni {
    @media only screen and (max-width:$mQmni) {
        :root {
            --h1-fs: #{$h1-mni};
            --h2-main-fs:#{$h2-main-mni};
            --h2-fs: #{$h2-mni};
            --h3-fs: #{$h3-mni};
            --a-fs: #{$a-mni};
            --specialSmall-fs: #{$specialSmall-mni};
            --mobilni-fs:#{$mobilni-font-max};
        }

        @content;
    }
}




@mixin mQdefault($width) {
    @media only screen and (max-width:$width) {
        @content;
    }
}