@use 'var' as *;

:root {
    --h1-fs: #{$h1-max};
    --h2-main-fs:#{$h2-main-max};
    --h2-fs: #{$h2-max};
    --h3-fs: #{$h3-max};
    --a-fs: #{$a-max};
    --specialSmall-fs: #{$specialSmall-max};
    --mobilni-fs:#{$mobilni-font-max};
}