@use '../var' as *;
@use '../mix' as *;


// --- defaultni mixina ---
// @include mQdefault(hodnota v pixlech) {}


// max-width: 850px
@include mQmid {

    body {

        main .portfolio-list .row {
            gap: 1em;

        }

        main .portfolio-list .relativ {
            &::before {
                flex-basis: 50%;
            }
        }
    }
}

// max-width: 750px
@include mQmin {
    :root {
        --h1-fs: #{$h1-min};
        --h2-main-fs:#{$h2-main-min};
        --h2-fs: #{$h2-min};
        --h3-fs: #{$h3-min};
        --a-fs: #{$a-min};
        --specialSmall-fs: #{$specialSmall-min};
    }

    body {

        main .portfolio-list {
            .row {
                flex-wrap: wrap;
                gap: 0;

                &>* {

                    flex-basis: 90%;
                }

                p {
                    margin-top: 2em;
                }
            }
        }

        main .portfolio-list .relativ {
            &::before {
                width: 60%;
            }
        }
    }

    // max-width: 500px
    @include mQmni {

        body {
            main .portfolio-list .relativ {
                &::before {
                    width: 40%;
                }
            }
        }
    }
}

@include mQdefault(22rem) {
    :root {
        --mobilni-fs:#{$mobilni-font-min};
    }
}