@use '../var' as *;
@use '../mix' as *;


// --- defaultni mixina ---
// @include mQdefault(1300px) {



// max-width: 850px
@include mQmid {}

// max-width: 750px
@include mQmin {

    main .content {
        justify-content: center;

        .card .card-under {
            opacity: .8;
            padding: .1rem;

            a {
                width: 100%;
                color: white;
            }
        }
    }

}

// max-width: 500px
@include mQmni {
    main .content {
        .card {
            width: 60%;

            &:hover,
            &:focus {
                transform: scale(1.2);
            }
        }
    }
}

@include mQdefault(22rem) {
    :root {
        --mobilni-fs:#{$mobilni-font-min};
    }

}