@use '../var' as *;
@use '../mix' as *;

// *{
//     outline: 1px solid red;
// }

main .content-list-container {
    @extend %positionRelative;
    text-align: left;

    // pruhlednej gradient
    .gradient {
        @extend %positionAbsolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 3.2rem;
        z-index: 100;
        background: linear-gradient(0deg, #272727 0%, #27272700 100%);
    }

    .paragraph-container {
        @extend %positionRelative;
        @include links;
        padding: 1em .5em;
        line-height: 1.3em;
        @extend %borderRadius;
        overflow: hidden;
        @extend %clr16;
        height: 5em;
        background-color: $clr14;
        text-align: left;

        strong {
            @extend %weight-600;
        }
    }

    .paragraph {
        position: absolute;
        @include links;
        @extend %clr14;
        padding: 1em .5em;
        line-height: 1.3em;
        background-color: #272727;
        z-index: -1;
        visibility: hidden;
        overflow: hidden;
        bottom: 0;
        left: 0;
    }

    .dexpand {
        animation-name: dexpand;
        animation-duration: 1s;
        color: $clr16;
        background-color: $clr14;

        @keyframes dexpand {
            from {
                background-color: darken($clr14, 10);
                color: lighten($clr16, 10);
                height: var(--height);
                outline: 1px solid #2793f297;
            }

            to {
                color: $clr16;
                height: 5em;
                background-color: $clr14;
                outline: 1px solid #2793f200;
            }
        }
    }

    .expand {

        height: auto;
        animation-name: expand;
        animation-duration: 500ms;
        animation-timing-function: linear;
        color: lighten($clr16, 10);
        background-color: darken($clr14, 10);
        outline: 1px solid #2793f297;

        strong {
            color: #7fc3ff;
            animation-name: expandStrong;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
        }

        @keyframes expandStrong {
            from {
                color: rgb(255, 255, 255);
            }

            to {
                color: #7fc3ff;
            }
        }

        code {
            color: #ff7676;
        }

        @keyframes expand {
            from {
                height: 5em;
                color: $clr16;
                background-color: $clr14;
                outline: 1px solid #2793f200;
            }

            to {
                outline: 1px solid #2793f297;
                background-color: darken($clr14, 10);
                color: lighten($clr16, 10);
                height: var(--height);
            }
        }
    }
}

.expand-bttn {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 20px;
    padding-top: 1px;
    margin-top: 1rem;
    margin-right: 1.5em;
    @extend %clr12;
    @extend %borderRadius;
    @extend %backClr11;
    @extend %userSelection;
    background-image: url(../img/bg04.png);
    font-family: sans-serif;
    font-weight: 500;
    font-size: .9rem;
    border: none;

    &:hover {
        background-color: $clr20;
    }

    &:active {
        transform: scale(.99);
    }
}

main {
    padding: 0em 2em 2em 2em;
    margin: auto;
    margin-top: 6rem;

    h3 {
        @include H3-normal;
        @extend %clr16;
        margin: 1em 0;
        @extend %userSelection;
        text-align: center;
    }

    h2 {
        @include H2-Normal;
        @extend %clr10;
        padding: 0 .5em;
        @extend %userSelection;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 3%;

        .content-list {
            flex-basis: 31.3333%;
            position: relative;
            padding: 1.5em 0em 0 0;
            text-align: left;
            margin-bottom: 1rem;
            text-align: right;

            &::after {
                position: absolute;
                content: "";
                bottom: 10px;
                left: .8em;
                height: 1px;
                width: 60%;
                background-color: $clr17;
            }
        }
    }

    .aboutMe {
        max-width: 70ch;
        @extend %autoMargin;
        text-align: right;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            bottom: 10px;
            left: 1em;
            height: 1px;
            width: 60%;
            background-color: $clr17;
        }

        .aboutMe-heading {
            text-align: left;
            margin: 1em 0 0 0;
            padding-left: 1rem;
            @extend %userSelection;
        }
    }
}
