@use '../var' as *;
@use '../mix' as *;

// *{
//     outline: 1px solid red;
// }

main {

    .expand-bttn {
        display: inline-block;
        text-align: center;
        width: 80px;
        height: 20px;
        padding-top: 1px;
        margin-top: 1rem;
        margin-right: 1.5em;
        @extend %clr12;
        @extend %borderRadius;
        @extend %backClr11;
        @extend %userSelection;
        background-image: url(../img/bg04.png);
        font-family: sans-serif;
        font-weight: 500;
        font-size: .9rem;

        &:hover {
            background-color: $clr20;
        }

        &:active {
            transform: scale(.99);
        }
    }

    // pruhlednej gradient
    .gradient {
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 3.2rem;
        z-index: 100;
        background: linear-gradient(0deg, #272727 0%, #27272700 100%);
    }

    .paragraph-container {
        position: relative;
        @include links;
        @extend %clr16;
        padding: 1em .5em;
        line-height: 1.3em;
        @extend %borderRadius;
        overflow: hidden;
        height: 5em;

        strong {
            font-weight: 600;
            color: #c5c5c5;
        }
    }

    .expand {
        overflow: auto;
        height: auto;
        background-color: $clr12;
        color: lighten($clr16, 10);
    }
}

main {
    padding: 0em 2em 2em 2em;
    margin: 0 auto auto auto;

    h3 {
        @include H3-normal;
        @extend %clr16;
        @extend %textCenter;
        margin: 1em 0;
        @extend %userSelection;
    }

    h2 {
        @include H2-Normal;
        @extend %clr10;
        padding: 0 1em;
        @extend %userSelection;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 3%;

        .content-list {
            // outline: 1px solid red;
            flex-basis: 31.3333%;
            position: relative;
            padding: 1.5em 0em 0 0;
            text-align: left;
            margin-bottom: 1rem;
            text-align: right;

            &::after {
                position: absolute;
                content: "";
                bottom: 10px;
                left: .8em;
                height: 1px;
                width: 60%;
                background-color: $clr17;
            }

            .content-list-container {
                @extend %positionRelative;
                text-align: left;
            }
        }
    }

    .aboutMe {
        max-width: 70ch;
        @extend %autoMargin;
        text-align: right;
        position: relative;
        isolation: isolate;

        .aboutMe-container {
            position: relative;
        }

        &::after {
            position: absolute;
            content: "";
            bottom: 10px;
            left: 1em;
            height: 1px;
            width: 60%;
            background-color: $clr17;
        }

        .aboutMe-heading {
            text-align: left;
            margin: 1em 0 0 0;
            padding-left: 1rem;
            @extend %userSelection;
        }

        p {
            text-align: left;
            @include links;
            @extend %clr16;
            line-height: 1.8rem;
        }
    }
}