@use '../var' as *;
@use '../mix' as *;


// --- defaultni mixina ---
@include mQdefault(1000px) {
    body {
        main .content {
            gap: 0;
            li {
                max-width: 48%;
            }
        }
    }
}


// max-width: 850px
@include mQmid {
    :root {
        --h1-fs: #{$h1-mid};
        --h2-main-fs:#{$h2-main-mid};
        --h2-fs: #{$h2-mid};
        --h3-fs: #{$h3-mid};
        --a-fs: #{$a-mid};
        --specialSmall-fs: #{$specialSmall-mid};
    }

    body {

        main p {
            &::after {
                top: 59px;
            }
        }

        main .content {

            li {
                max-width: 80%;
                gap: 1em;

                &::after {
                    width: 50%;
                }

            }
        }

        main .others-list {
            li {
                width: 80%
            }
        }
    }
}

// max-width: 750px
@include mQmin {
    :root {
        --h1-fs: #{$h1-min};
        --h2-main-fs:#{$h2-main-min};
        --h2-fs: #{$h2-min};
        --h3-fs: #{$h3-min};
        --a-fs: #{$a-min};
        --specialSmall-fs: #{$specialSmall-min};
    }

    body {
        padding: 1vh 0vw;

        .central-wrapper {
            max-height: 100%;
            min-height: 98vh;
            border-radius: 25px;

            .horni-lista .horni-lista__right,
            .horni-lista .horni-lista__left {
                display: none;
            }

            &::after,
            &::before {
                bottom: 20px;
                top: 20px;
            }

            &::after {
                right: 0rem;
                box-shadow: 10px 0 20px rgba(0, 0, 0, 0.895);
            }

            &::before {
                left: 0rem;
                box-shadow: -10px 0 20px rgba(0, 0, 0, 0.889);
            }
        }

        header .hamburger {
            display: inline-block;
        }

        main .content {

            li {
                max-width: 90%;

                &::after {
                    width: 65%;
                }

            }
        }

        main .others-list li {
            width: 90%;
        }
    }
}


// max-width: 500px
@include mQmni {
    :root {
        --h1-fs: #{$h1-mni};
        --h2-main-fs:#{$h2-main-mni};
        --h2-fs: #{$h2-mni};
        --h3-fs: #{$h3-mni};
        --a-fs: #{$a-mni};
        --specialSmall-fs: #{$specialSmall-mni};
    }

    body {
        main .content {

            li {
                flex-basis: 90%;

                &::after {
                    width: 60%;
                }
            }
        }
    }
}