@use '../var' as *;
@use '../mix' as *;


// --- defaultni mixina ---
// max width 1300px
@include mQdefault(81.25rem) {
    body main .content {
        gap: 3%;

        .content-list {
            flex-basis: 48.5%;
        }
    }
}

// max-width 1000px
@include mQdefault(62.5rem) {

    body main .content {
        justify-content: space-around;
        gap: 0;

        .content-list {
            flex-basis: 80%;
        }
    }

    body main .aboutMe {
        max-width: 80%;
    }
}

// max-width: 850px
@include mQmid {}

// max-width: 750px
@include mQmin {

    body main .aboutMe {
        max-width: 80%;
    }
}

// max-width: 500px
@include mQmni {
    body main {

        .content {

            .content-list {
                flex-basis: 100%;

                &::after {
                    width: 50%;
                }
            }
        }

        .aboutMe {
            padding: 0;
        }
    }
}

@include mQdefault(22rem) {
    :root {
        --mobilni-fs:#{$mobilni-font-min};
    }

    body main .content .content-list::after {
        width: 35%;
    }
}