@use '../var' as *;
@use '../mix' as *;


main {
    margin: auto;
    isolation: isolate;

}


.scroll {
    display: none;
}

main .hero {
    user-select: none;
    @extend %clr10;
    @extend %textCenter;
    text-align: center;
    width: fit-content;
    @extend %autoMargin;

    .hero-heading {
        font-size: var(--h2-main-fs);
        @extend %weight-600;
        letter-spacing: -4px;
        line-height: .8em;
        animation-name: fadeIn;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }

    }

    h3 {
        @include H3-normal;
        letter-spacing: 0px;
        margin-bottom: .2em;
        animation: fadeIn 1s 3s ease-in-out forwards;
        opacity: 0;
    }


    .cv-section {
        isolation: isolate;
        @extend %positionRelative;
        z-index: 10;
        text-decoration: none;
        margin-left: auto;
        display: block;
        width: fit-content;
        @include links;
        @extend %borderRadius;
        margin-top: 2em;
        padding: .4em .8em;
        @extend %weight-600;
        @extend %clr12;
        @extend %backClr11;
        background-image: url(../img/bg04.png);
        transition: background-color ease-in-out .25s;
        // animation: fadeIn 1s 6s ease-in-out forwards;
        opacity: 1;

        &::after {
            @extend %positionAbsolute;
            content: '';
            z-index: 100;
            inset: 0;
            background-color: $clr14;
            animation: slideLeft .5s 6s ease-in-out forwards;
        }

        @keyframes slideLeft {
            to {
                left: 100%;
            }
        }

        &:hover {
            background-color: $clr20;
        }

        &:active {
            @extend %clr10;
            transform: scale(.95);
        }
    }
}